[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[alias]
    fuzz = "!f() { git branch --sort=-committerdate --format=\"%(refname:short)\" | grep -m 1 \"$1\" | xargs git checkout; }; f"
[push]
    autoSetupRemote = true
[core]
	editor = nvim
[rerere]
	enabled = false
[user]
	useConfigOnly = true
	email = zachiah@proton.me
	name = Zachiah Sawyer
[pull]
	rebase = true
	ff = only
