[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = Zachiah Sawyer
    email = zachiah@proton.me
[alias]
    fuzz = "!f() { git branch --sort=-committerdate --format=\"%(refname:short)\" | grep -m 1 \"$1\" | xargs git checkout; }; f"
[credential]
    helper = "!f() { /home/developer/.vscode-server/bin/f1b07bd25dfad64b0167beb15359ae573aecd2cc/node /tmp/vscode-remote-containers-e5513c28-efc6-45e7-a61d-5ce3bde38cfc.js git-credential-helper $*; }; f"
[push]
    autoSetupRemote = true
